@CHARSET "UTF-8";

* {
	border: none;
	font-family: Arial, Vedana, sans, sans-serif;
}

hmtl, body {
	margin: 0;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: .2em;
	transition: .1s linear;
}
.icon:hover {
	transform: scale(1.2);
}

.hidden {
	display: none;
}

.reaper-header {
	border-bottom: 1px solid grey;
	z-index: 150;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
}
.reaper-header form {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 0 0 0 .3em;
}
.reaper-header .reaper-url {
	padding: .2em;
	margin: 0 0.2em;
	font-size: 1.4em;
	flex-grow: 1;
}
.reaper-header .reaper-go-btn {
	font-size: 1.6em;
	padding: 0.2em 1.6em;
	background-color: #1060aa;
	color: #fff;
}
.reaper-header .reaper-url:focus {
	border: 0;
	outline: 0;
}

.reaper-dyn-page {
	background-color: #eee;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: stretch;
}
.reaper-padder {
	height: 2.5em;
	display: block;
}
.reaper-dyn-page iframe {
	flex-grow: 1;
	width: 100%;
	overflow: scroll;
}

.reaper-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.reaper-viewport {
	content: '';
	box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 30000px;
	width: 200px;
	height: 183px;
	outline: 2px solid blue;
	top: 77px;
	left: 625px;
	display: block;
	position: fixed;
}
.reaper-overlay-trigger {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.reaper-controls {
	border: 1px solid #1060aa;
	border-radius: 3px;
	background-color: #4090ff;
	position: fixed;
	color: #fff;
	font-size: 1.4em;
}
.reaper-controls span {
	clear: none;
	display: inline-block;
	float: left;
	transition: .2s linear;
}
.reaper-controls span:hover {
	background-color: #2070bb;
}

.reaper-sidebar {
	transition: .2s linear;
	background-color: #333;
	position: fixed;
	top: 0;
	right: -450px;
	height: 100%;
	width: 450px;
	color: #fff;
}

.reaper-collapse {
	padding: 1em;
}
.reaper-collapse .reaper-collapse-header {
	background-color: #666;
	color: #fff;
	padding: .3em .4em;
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}
.reaper-collapse .reaper-collapse-header .icon {
	fill: #fff;
}
.reaper-collapse .reaper-collapse-header input {
	font-size: 1.3em;
	color: #fff;
	background: transparent;
	margin: 0;
	padding: 0;
	flex-grow: 1;
}
.reaper-collapse .reaper-collapse-header input:focus {
	outline: none;
}
.reaper-collapse .reaper-collapse-body {
	background-color: #ccc;
	color: #333;
	font-size: 1em;
	padding: .3em;
}
.reaper-collapse .reaper-collapse-body .icon {
	fill: #333;
}
.reaper-collapse .reaper-collapse-body label {
	display: block;
	margin: .5em 0 0;
	border-bottom: 1px solid #aaa;
}
.reaper-collapse .reaper-collapse-body .reaper-xpath-constituent,
.reaper-collapse .reaper-collapse-body .reaper-xpath-display {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}
.reaper-collapse .reaper-collapse-body input[type="text"] {
	display: block;
	font-size: 1em;
	color: #666;
	background: transparent;
	margin: .2em 0;
	padding: 0;
	flex-grow: 1;
	transition: .1s linear;
}
.reaper-collapse .reaper-collapse-body input[type="text"]:focus {
	outline: none;
	color: #333;
}